@model List<BasketItem>
@{
    var totalPrice = Model.Sum(x => x.Product.Price * x.Count);
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <partial name="_TitlePartialView" model='"Basket"'></partial>
    <div class="cart-area section-space-y-axis-100">
        <div class="container basketArea">
            <partial name="_BasketPartialView" model="@Model"></partial>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->

<script>
    async function RenderBasket(){
      const increaseBtns = document.querySelectorAll('.increaseBtn');
      const decreaseBtns = document.querySelectorAll('.decreaseBtn');
      const basketArea = document.querySelector('.basketArea');

      increaseBtns.forEach(btn => {
          btn.addEventListener('click', async (e) =>{
              let productId = btn.getAttribute('data-productId');

              var response = await fetch(`/Basket/IncreaseBasketItemCount?productId=${productId}`)

              if(response.ok) {
                  var result = await response.text();
                  basketArea.innerHTML = "";
                  basketArea.innerHTML = result;

                  RenderBasket();
              }
          });
      });

      decreaseBtns.forEach(btn => {
          btn.addEventListener('click', async  (e) =>{
              let productId = btn.getAttribute('data-productId');
              var response = await fetch(`/Basket/DecreaseBasketItemCount?productId=${productId}`)
              if(response.ok) {
                  var result = await response.text();
                  basketArea.innerHTML = "";
                  basketArea.innerHTML = result;

                  RenderBasket();
              }
              console.log(response);
          });
      });
     }
    RenderBasket();
</script>
